body {
    /* configurações da imagem */
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    background-color: #ffff00;
    color: #000;
    padding: 1px;
    position: fixed;
    width: 110%; 
 }


.container {
    background-color: #eee;
    padding:30px;
    border-radius: 15px;
    top: 10;
    width: 95%;
    display: block;

}

img {
      width: 30%;
      display:flex;
      margin: 1% 6%;
      padding: 2px;
      display: inline-block;
    }
  
.card {
    background-color: #ffff00;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    font-family: Helvetica;   
}
.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.btn{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffff00;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    transition: 1s;

}

.btn:hover{
    background-color: #000;
    color: #ffff00;
}
.card2 {
    background-color: yellow;
    padding: 10px; 
    border-radius: 15px;
}


#img-1{
    background-image:url("./images.jpg");
}

.contato {
    background-color: yellow;
    margin: 0;
    padding: 0;
    top: 10px

}

footer{
    background-color: #ffff00;
    color:#000;
    text-align: center;
    padding: 80px;
}

.mascote{
    width: 30%;
    display: block;
    padding: 5px;
}
