body {
    /* configurações da imagem */
    background-color: yellow;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    background-color: #ffff00;
    color: #000;
    padding: 5px;
    text-align: center;
    border-bottom: #ebeba6 3px solid;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    border-radius: 15px;
}


.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
    border-radius: 15px;
}

img {
      width: 100%;
      padding: 0px;
      position: relative;
      border-radius: 15px;
      left: 50;
      top: 50%;
    }
  
.card {
    background-color: #ffff00;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-family: verdana;   
}
.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.btn{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffff00;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    transition: 1s;
    border-color: #000;
}

.btn:hover{
    background-color: #000;
    color: #ffff00;
    border-color: black ;
}
.card2 {
    background-color: yellow;
    padding: 10px; 
    border-radius: 15px;
}

#img-1{
    background-image:url("./images.jpg");
}

.contato {
    background-color: yellow;
    margin: 0;
    padding: 0;
    top: 10px

}

footer{
    background-color: #ffff00;
    color:#000;
    border-top: #ebeba6 3px solid;
    text-align: center;
    padding: 80px;
}
